@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Estilos barra de navegación*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Un fondo general para ver mejor la navbar */
}

.navbar {
    background-color: #000; /* Fondo negro para la navbar */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none; /* Quita el subrayado del enlace del logo */
}

.navbar-brand img {
    height: 100px; /* Ajusta la altura de tu logo */
    margin-right: 10px;
}

.navbar-brand span {
    color: #20C5B5; /* Color del texto del nombre, usando uno de tus colores de acento */
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #F8F9FA; /* Color del texto de los enlaces, un blanco roto */
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #20C5B5; /* Cambio de color al pasar el ratón */
}

.texto-perfil {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: black;
}

.texto-titulo {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  text-align: justify;
  color: #20679E;
  font-weight: 700;

}

/* Estilos contenedor */
.contenedor-flex {
  display: flex; /* Activa Flexbox */
  justify-content: space-between; /* Separa las columnas */
  align-items: center;
  gap: 20px; /* Espacio entre columnas (opcional) */
}

.columna {
  flex: 1; /* Hace que ambas columnas ocupen el espacio disponible por igual */
  /* O define anchos fijos: */
  /* width: 48%; */
}

.foto {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.contenedor {
  margin-top: 10px;
  padding: 20px;
}


/* Estilos card */

.tituloProyecto {
  color: #20C5B5;
}

.botonCard {
  background-color: #0e293a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

.botonCard:hover {
  background-color: #16435f;
}

.cardEquipo {
  margin-left: 10px;
  margin-right: 10px;
}


.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}